@use "sass:meta";

@media (prefers-color-scheme: dark) {
  @include meta.load-css("prism-themes/themes/prism-one-dark.css");
}

@media (prefers-color-scheme: light) {
  @include meta.load-css("prism-themes/themes/prism-base16-ateliersulphurpool.light.css");
}

:root[data-theme="dark"] {
  @include meta.load-css("prism-themes/themes/prism-one-dark.css");
}

:root[data-theme="light"] {
  @include meta.load-css("prism-themes/themes/prism-base16-ateliersulphurpool.light.css");
}

.code-block {
  position: relative;
}

.code-block__copy {
  position: absolute;
  inset-block-start: var(--space-2);
  inset-inline-end: var(--space-2);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: var(--space-2);
  border-radius: var(--rounded-md);
  background: var(--color-neutral-bg-subtle);
  color: var(--color-neutral-text);
  cursor: pointer;
  transition: all 300ms ease;

  .code-block:not(:hover) &:not(:focus) {
    opacity: 0;
  }

  &:hover,
  &:focus {
    background-color: var(--color-neutral-bg);
  }

  svg {
    inline-size: 1.125em;
    block-size: 1.125em;
  }
}
